.pangolin-regular {
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
  }

body{
  
    background-color: #15173D;
    padding: 20px;

  
}

h1{
    color:#E491C9;
    text-align: center;
    font-size: 4rem;

}

.valentineCard{
    background-color: #F1E9E9;
    padding: 10%;
    margin: 10%;
    border: 10px solid #E491C9;
    border-radius: 10px;
    box-shadow: 0 0 100px #982598;
    

   
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
  }
  
  img:hover {
    box-shadow:  0 0 10px #982598;
    ;
  }

.valentineCard h2{
    color: #15173D;
    text-align: center;
    font-size: 2.5rem;
}

.valentineCard .paragraph{
    text-indent: 2em; /* Indent the first line */
}
.valentineCard p {
    color: #15173D;
    text-align: left;
    font-size: 1.2em;
    line-height: 1.6; /* Adjust line spacing */
}


  
  

@media (max-width: 600px) {
  .valentineCard {
        padding: 5%;
        margin: 5%;
    }

    img {
        width: 80px;
        height: 80px;
    }

    h1 {
        font-size: 1.5em;
    }
}